In [1]:
print(5)

5

In [5]:
p=4
print(p)

4

# Get the Type
You can get the data type of a variable with the type() function.

In [6]:
type(p)

int

In [7]:
p="Pooja"
type(p)

str

# Case-Sensitive
Variable names are case-sensitive.

In [9]:
p=6
P=10

In [10]:
print(p)

6

In [11]:
print(P)

10

In [13]:
test = 5
Test = 10
tEsT =15

In [14]:
print(test)
print(Test)
print(tEsT)

5
10
15

# Single or Double Quotes?
String variables can be declared either by using single or double quotes:

In [18]:
print("Hello World 100")

Hello World 100

In [17]:
print('Hello world',100)

Hello world 100

In [24]:
x ="100"
print(x+'10')

10010

In [20]:
type(x)

str

In [25]:
x=100
print(x+10)

110

In [22]:
type(x)

int

# Python Comments

In [28]:
#print("My name is pooja") Single line comment

In [30]:
x=10
y=20
print(x)
#print(y)

10

In [40]:
"""
Multiple line comment
x=10
y=20
print(x)
"""
print(y)

print("Hello")

20
Hello

In [37]:
"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

# Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

In [41]:
#invalid
3abc = 2
print(3abc)

SyntaxError: invalid decimal literal (1036612185.py, line 1)

In [42]:
_abc = 2
print(_abc)

2

In [49]:
Abc =34
print(Abc)

34

In [45]:
a3_df = 65
print(a3_df)

65

In [46]:
#invalid
d-r = 23   
print(d-r)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (887026365.py, line 1)

# Output Variables
The Python print() function is often used to output variables.

In [52]:
x=8
y=6
print("product =",x*y)

product = 48

# Camel Case
Each word, except the first, starts with a capital letter:myVariableName = "John"
Pascal Case
Each word starts with a capital letter:MyVariableName = "John"
Snake Case
Each word is separated by an underscore character:my_variable_name = "John"

# Casting
If you want to specify the data type of a variable, this can be done with casting.

In [53]:
x="100"
type(x)

str

In [54]:
print("Sum =",x+10)

TypeError: can only concatenate str (not "int") to str

In [ ]:
"""int()--- function to convert any variable into int type
str()--- Function to convert any variable into str type"""

In [55]:
print("Sum =",int(x)+10)

Sum = 110

In [62]:
y=12
type(y)

int

In [60]:
y=str(y)

In [64]:
print(type(str(y)))

<class 'str'>

# Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [67]:
a=2
b=3
c=0
print(a,b,c)

2 3 0

In [66]:
a,b,c=2,3,0
print(a,b,c)

2 3 0

In [68]:
n,a,y="pooja",23,1986
print(n,a,y)

pooja 23 1986

# One Value to Multiple Variables
And you can assign the same value to multiple variables in one line:

In [69]:
a=b=c=10
print(a,b,c)

10 10 10

# Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [70]:
a,b,c = [2,3,4]
print(a,b,c)

2 3 4

#            Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType