# Python Numbers
There are three numeric types in Python:

int
float
complex

int (+ve and +ve whole number)
float (with decimals)
complex (real+ imaginary--2+3j)

In [1]:
a = 2.0
type(a)

float

In [4]:
b = 5
type(b)

int

In [10]:
c = 2 + 3j
type(c)

complex

In [14]:
print(c.real)

2.0

In [16]:
print(c.imag)

3.0

In [17]:
int(2.0)

2

In [18]:
float(b)

5.0

In [20]:
float(c)

TypeError: float() argument must be a string or a real number, not 'complex'

# Strings
Strings in python are surrounded by either single quotation marks, or double quotation marks.
A string in Python consists of a series or sequence of characters - letters, numbers, and special characters.
Strings can be indexed starting with 0 which is first character.

In [27]:
_name = "My name is Pooja"

In [28]:
print(_name)

My name is Pooja

In [23]:
type(_name)

str

# Multiline Strings
You can assign a multiline string to a variable by using three quotes:

In [25]:
a = """My name is pooja.
I am 37 years old.
I live in Vaishali"""

In [26]:
a

'My name is pooja.\nI am 37 years old.\nI live in Vaishali'

# Indexing a String

accessing one character based on the position.

In [29]:
_name = "My name is Pooja"

In [30]:
_name[0]

'M'

In [31]:
_name[11]

'P'

# Length of String

In [ ]:
# total number of characters in a string

In [32]:
len(_name)

16

In [34]:
_name[15]

'a'

In [ ]:
# accessing the last character of string

In [35]:
_name[len(_name)-1]

'a'

# Negative Indexing

writting len(my_str) is optional.

That's how Python give rise to Negative Indexing

In [36]:
_name[-1]

'a'

In [37]:
_name[-2]

'j'

# Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [39]:
'y' in _name

True

In [40]:
'z' in _name

False

In [41]:
'My' in _name

True

# Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [42]:
'y' not in _name

False

In [43]:
'are' not in _name

True

# String Slicing
extracting multiple characters from a string (sub string)
Syntax : str[start_idx : end_idx +1]
Syntax : str[start_idx : end_idx +1 : step_size]

In [44]:
_name

'My name is Pooja'

In [46]:
_name[3:7]

'name'

In [50]:
_name[3:7:0]

ValueError: slice step cannot be zero

In [52]:
_name[3:7:1]

'name'

In [53]:
_name[3:7:2]

'nm'

In [54]:
_name[3:7:-1]

''

In [55]:
_name[7:3:-1]

' ema'

In [56]:
_name[:]

'My name is Pooja'

In [57]:
_name[:-1]

'My name is Pooj'

In [58]:
_name[::-1]

'ajooP si eman yM'

In [59]:
_name[:7]

'My name'

In [60]:
_name[7:]

' is Pooja'

In [61]:
_name[:len(_name)-2]

'My name is Poo'