# Creating empty dictionary¶¶

In [1]:
d = {}

In [2]:
type(d)

dict

In [3]:
d =10

In [7]:
type(d)

int

In [8]:
dict(d)

TypeError: 'int' object is not iterable

In [10]:
d1 = dict()

In [11]:
type(d1)

dict

# Create and print a dictionary

In [14]:
dic = {
    "Name": "Nancy",
    "Course": "Python",
    'Location': 'PreetVihar'
    
}

In [15]:
dic

{'Name': 'Nancy', 'Course': 'Python', 'Location': 'PreetVihar'}

In [16]:
# create a dic with list of tuples

In [17]:
dic1 = dict([('name','pooja'),('Age',37),('occupation','Trainer')])

In [18]:
dic1

{'name': 'pooja', 'Age': 37, 'occupation': 'Trainer'}

In [20]:
dic1 = dict([('name',['pooja','nancy']),('Age',[37,24]),('occupation',['Trainer','student'])])

In [21]:
dic1

{'name': ['pooja', 'nancy'],
 'Age': [37, 24],
 'occupation': ['Trainer', 'student']}

In [22]:
dic2 = {
    "Name": ["Nancy",'Anshika'],
    "Course": ["Python",'DS'],
    'Location': ['PreetVihar','Southex']
    
}

In [23]:
dic2

{'Name': ['Nancy', 'Anshika'],
 'Course': ['Python', 'DS'],
 'Location': ['PreetVihar', 'Southex']}

In [24]:
#dict() constructor to make a dictionary , Key need not to be written in ""

In [25]:
dic3 = dict(name='BMW',brand='xyz')

In [26]:
dic3

{'name': 'BMW', 'brand': 'xyz'}

# Dictionary Items -The values in dictionary items can be of any data type

In [27]:
dic4 = {
    "Name": ['ford','honda'],
    "Brand":['xyz','pqr'],
    "year": 1960,
    "electric":True
}

In [28]:
dic4

{'Name': ['ford', 'honda'],
 'Brand': ['xyz', 'pqr'],
 'year': 1960,
 'electric': True}

# Accessing elements
You can access the items of a dictionary by referring to its key name, inside square brackets:

In [29]:
dic4['year']

1960

In [31]:
dic4['Name'][1]

'honda'

In [32]:
dic3

{'name': 'BMW', 'brand': 'xyz'}

In [33]:
print(f"Brand of {dic3['name']} is {dic3['brand']}")

Brand of BMW is xyz

In [ ]:
#get() method

In [34]:
dic3.get('brand')

'xyz'

In [35]:
print(f"Brand of {dic3.get('name')} is {dic3.get('brand')}")

Brand of BMW is xyz

In [39]:
dic4.get('Name')[0]

'ford'

# The keys() method will return a list of all the keys in the dictionary.

In [40]:
dic4.keys()

dict_keys(['Name', 'Brand', 'year', 'electric'])

# The values() method will return a list of all the values in the dictionary.

In [41]:
dic4.values()

dict_values([['ford', 'honda'], ['xyz', 'pqr'], 1960, True])

# Get Items
The items() method will return each item in a dictionary, as tuples in a list.
Get a list of the key:value pairs

In [42]:
dic4.items()

dict_items([('Name', ['ford', 'honda']), ('Brand', ['xyz', 'pqr']), ('year', 1960), ('electric', True)])

# Changeable
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

In [69]:
dic1

NameError: name 'dic1' is not defined

In [44]:
dic1['Age']= [30,18]

In [45]:
dic1

{'name': ['pooja', 'nancy'],
 'Age': [30, 18],
 'occupation': ['Trainer', 'student']}

In [50]:
dic1['Age']=(18,56)

In [51]:
dic1

{'name': ['pooja', 'nancy'],
 'Age': (18, 56),
 'occupation': ['Trainer', 'student']}

In [52]:
dic1['name']= 'Niday','Meghna'

In [53]:
dic1

{'name': ('Niday', 'Meghna'),
 'Age': (18, 56),
 'occupation': ['Trainer', 'student']}

In [54]:
dic1['Location']=['PV','SX']

In [55]:
dic1

{'name': ('Niday', 'Meghna'),
 'Age': (18, 56),
 'occupation': ['Trainer', 'student'],
 'Location': ['PV', 'SX']}

# Removing Items
- pop() method removes the item with the specified key name
- popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead)
- del keyword removes the item with the specified key name as well as delete the dictionary completely
- clear() method empties the dictionary

In [56]:
dic1.pop('Age')

(18, 56)

In [57]:
dic1

{'name': ('Niday', 'Meghna'),
 'occupation': ['Trainer', 'student'],
 'Location': ['PV', 'SX']}

In [61]:
dic1.popitem()

('Location', ['PV', 'SX'])

In [62]:
dic1

{'name': ('Niday', 'Meghna'), 'occupation': ['Trainer', 'student']}

In [63]:
del dic1['occupation']

In [64]:
dic1

{'name': ('Niday', 'Meghna')}

In [65]:
dic1.clear()

In [66]:
dic1

{}

In [67]:
del dic1

In [68]:
dic1

NameError: name 'dic1' is not defined

# Dictionary Length:len() function

In [70]:
len(dic4)

4

In [71]:
dic4

{'Name': ['ford', 'honda'],
 'Brand': ['xyz', 'pqr'],
 'year': 1960,
 'electric': True}

# Copy a Dictionary
- You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

- There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [73]:
dic1= dic4

In [74]:
dic4['year']=2000

In [75]:
dic4

{'Name': ['ford', 'honda'],
 'Brand': ['xyz', 'pqr'],
 'year': 2000,
 'electric': True}

In [76]:
dic1

{'Name': ['ford', 'honda'],
 'Brand': ['xyz', 'pqr'],
 'year': 2000,
 'electric': True}

In [77]:
dic2 = dic4.copy()

In [78]:
dic4['electric']=False

In [79]:
dic4

{'Name': ['ford', 'honda'],
 'Brand': ['xyz', 'pqr'],
 'year': 2000,
 'electric': False}

In [80]:
dic1

{'Name': ['ford', 'honda'],
 'Brand': ['xyz', 'pqr'],
 'year': 2000,
 'electric': False}

In [81]:
dic2

{'Name': ['ford', 'honda'],
 'Brand': ['xyz', 'pqr'],
 'year': 2000,
 'electric': True}

In [82]:
lst = list(input("Enter the values in the list").split(","))

Enter the values in the list3,6,"Pooja",True,10

In [83]:
lst

['3', '6', '"Pooja"', 'True', '10']

In [89]:
a,b= map(int,input("Enter the values in the list").split(","))

Enter the values in the list4,7

In [91]:
a,b

(4, 7)