Create a function called word_count that takes a string as input and returns a dictionary where the keys are the words in the string and the values are the frequencies of the words.

In [13]:
def count_word(n):
    c_word = {}
    words = n.split(" ")
    
    for i in words:
        c_word[i]=n.count(i)
    print(c_word)

In [14]:
count_word( "My name is Pooja Pooja is 36 yrs old")

{'My': 1, 'name': 1, 'is': 2, 'Pooja': 2, '36': 1, 'yrs': 1, 'old': 1}

Write a function called unique_elements that takes two lists as input and returns a new list containing only the unique elements present in both lists.

In [28]:
l1=[1,2,5,6]
l2=[6,3,2,7]

l3=[1,5,3,7]

In [24]:
def unique_item(l1,l2):
    l3=[]   
    for i in l1:
        for j in l2:
            if i!=j and i not in l3:
                l3.append(i)
    for k in l2:
        for l in l1:
            if k!=l and k not in l3:
                l3.append(k)
    print(l3)

In [25]:
unique_item([1,2,5,6],[6,3,2,7])

[1, 2, 5, 6, 3, 7]

In [48]:
def unique_item(l1,l2):
    l1 = set(l1)
    l2= set(l2)
    l2.symmetric_difference_update(l1)
    print(list(l2))

In [49]:
unique_item([1,2,5,6],[6,3,2,7])

[1, 3, 5, 7]

In [38]:
l1={1,2,5,6}
l2={6,3,2,7}
l2.symmetric_difference_update(l1)
l2

{1, 3, 5, 7}

In [53]:
a=20

def func():
    global a
    a=0
    return a+10

In [54]:
print(func())

print(a)

10
0

In [58]:
Global_var =100

def xyz():
    global local_var
    local_var =20
    print(local_var)

In [59]:
xyz()
print(Global_var)
print(local_var)

20
100
20

# Lambda Function
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

lambda arguments : expression

In [63]:
#Add 10 to argument a, and return the result:
y=lambda a:a+10
y(10)

20

In [66]:
#Multiply argument a with argument b and return the result:
y = lambda a,b:a*b
a,b=map(int,input("Enter the number").split(","))
y(a,b)

Enter the number4,5

20

In [67]:
def myfunc(n):
    return lambda a : a * n

y = myfunc(2)

print(y(11))

22

In [68]:
y=lambda x: "Even" if x%2==0 else "Odd"

In [70]:
y(21)

'Odd'

In [71]:
y=lambda x : f"Fruit name is {x}"
y("Apple")

'Fruit name is Apple'

# Map:
The map function is used to apply a specific function to each element of a sequence and returns a new sequence with the modified values.

In [75]:
fruit =['apple','banana','grapes','cherry']

z=list(map(lambda x : f"Fruit name is {x}",fruit))

y=list(map(lambda x : x.upper(),fruit))

In [76]:
z

['Fruit name is apple',
 'Fruit name is banana',
 'Fruit name is grapes',
 'Fruit name is cherry']

In [77]:
y

['APPLE', 'BANANA', 'GRAPES', 'CHERRY']

In [84]:
temp =[32,45,67,34,23,0]
ferenh = list(map(lambda x: round((x*(9/5)+32),0),temp))
ferenh

[90.0, 113.0, 153.0, 93.0, 73.0, 32.0]

In [86]:
4/2

2.0

Q1 : Given a list of tuples representing (name, age), use the map function and a lambda function to extract
just the names into a new list.
- people = [("Alice", 25), ("Bob", 30), ("Claire", 22)]

Q2 : Use the map function and lambda function to find the sum of the corresponding elements of two lists.

Q3 : Given two lists, use the map function and a lambda function to find the maximum of corresponding elements 
of the two lists.

Q4 :Use the map function and a lambda function to perform element-wise addition of multiple lists.

Q5 : Given a list of strings, use the map function and a lambda function to find the longest word in each string.

Q6: Given a list of names ['Alice', 'Bob', 'Charlie', 'David'], write a lambda function and 
use the map() function to convert each name to uppercase.

In [96]:
def pricom(*arg):
  prime=[]
  composite=[]
  for i in arg:
    for j in range(2,i):
      if i%j==0:
        composite.append(i)
        break  
    else:
       prime.append(i)
  print(prime)
  print(composite)
  
pricom(2,3,4,5,6,7)

[2, 3, 5, 7]
[4, 6]