# List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

https://www.w3schools.com/python/python_lists_comprehension.asp

In [5]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

# With no if statement:

In [20]:
for x in fruits:
    print(x)

apple
banana
cherry
kiwi
mango

In [21]:
[print(x) for x in fruits]

apple
banana
cherry
kiwi
mango

[None, None, None, None, None]

In [25]:
#find the square of each items in the list
 
s=[x**2 for x in lst]
s

[4, 9, 16, 25]

In [13]:
#Set the values in the new list to upper case:
up_lst= [x.upper() for x in fruits]
up_lst

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [2]:
#Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.
#newlist = [expression for item in iterable if condition == True]

In [26]:
a_lst=[]
for x in fruits:
    if 'a' in x:
        a_lst.append(x)
print(a_lst)

['apple', 'banana', 'mango']

In [27]:
a_l = [x for x in fruits if 'a' in x]
a_l

['apple', 'banana', 'mango']

In [ ]:
#Only accept items that are not "apple":

In [28]:
y=[]
for x in fruits:
    if x!='apple':
        y.append(x)
print(y)

['banana', 'cherry', 'kiwi', 'mango']

In [29]:
z=[x for x in fruits if x!='apple']
z

['banana', 'cherry', 'kiwi', 'mango']

In [30]:
#Accept only numbers lower than 5:

num=[x for x in range(10) if x<5]
print(num)

[0, 1, 2, 3, 4]

# With if else condition

In [31]:
#Return "orange" instead of "banana":
y=[]
for x in fruits:
    if x=='banana':
        y.append('orange')
    else:
        y.append(x)
        
y

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [34]:
z=['orange' if x=='banana' else x for x in fruits]
z

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [35]:
first = [2, 3, 4]
second = [20, 30, 40]
final = []
for i in first:
    for j in second:
        final.append(i+j)
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

In [36]:

final = [i+j for i in first for j in second]
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

In [38]:
l1=[10,20,30]
l2=[30,10,50]
f=[]
for i in l1:
    for j in l2:
        if i!=j:
            f.append((i,j))
f

[(10, 30), (10, 50), (20, 30), (20, 10), (20, 50), (30, 10), (30, 50)]

In [40]:
final = [(x, y) for x in l1 for y in l2 if x != y]
print(final)

[(10, 30), (10, 50), (20, 30), (20, 10), (20, 50), (30, 10), (30, 50)]

In [42]:
matrix = [[i for j in range(3)] for i in range(3)]
   
print(matrix)

[[0, 0, 0], [1, 1, 1], [2, 2, 2]]