In [2]:
data={}
l1=[6,7,3,4,5]
l2=["A","B","C","D","E"]

for i in range(len(l1)):
    j= l1[i]
    data[j]=l2[i]
    j+=1
print(data)

{6: 'A', 7: 'B', 3: 'C', 4: 'D', 5: 'E'}

In [2]:
for i in range(6):
    print(i*'x')

x
xx
xxx
xxxx
xxxxx

In [3]:
for i in range(5,0,-1):
    print(i*'x')

xxxxx
xxxx
xxx
xx
x

In [4]:
j=5
for i in range(6):   
    print(j*' ',i*'x')
    j-=1

     x
    xx
   xxx
  xxxx
 xxxxx

In [5]:
for i in range(6):
    print(5*'x')

xxxxx
xxxxx
xxxxx
xxxxx
xxxxx
xxxxx

In [5]:
for i in range(1,6):
    for j in range(1,6):
        print(i,end="")
    print("")

11111
22222
33333
44444
55555

In [23]:

for i in range(1,6):
  
    for j in range(1,6):
        print(j,end="")
    print("")

12345
12345
12345
12345
12345

In [6]:
for i in range(1,6):
    j=i
    k=1
    while j>=1:
        print(k,end=" ")
        j-=1
        k+=1
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
for i in range(1,6):
    j=i
    while j>=1:
        print(i,end="")
        j-=1
        
    print("")

1
22
333
4444
55555

In [10]:
for i in range(1,6):
    j=i
    k=65
    while j>=1:
        print(chr(k),end="")
        j-=1
        k+=1
    print("")

A
AB
ABC
ABCD
ABCDE

In [9]:
k=65
for i in range(1,6):  
    for j in range(1,i+1):
        print(chr(k),end="")
    k+=1    
    print("")

A
BB
CCC
DDDD
EEEEE

In [12]:
k=12
for i in range(1,7):
    for j in range(k,0,-1):
        print(end=" ")
    k-=1
    for j in range(0, i ):
        print("*", end=" ")
    print("")

            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *

In [13]:
k=7
for i in range(6,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k+=1
    for j in range(0, i ):
        print("*", end=" ")
    print("")

       * * * * * *
        * * * * *
         * * * *
          * * *
           * *
            *

In [2]:
#Write a nested for loop program to print multiplication table in Python
for i in range(1, 11):
    # nested loop
    # to iterate from 1 to 10
    for j in range(1, 11):
        # print multiplication
        print(i * j,end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

# List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

https://www.w3schools.com/python/python_lists_comprehension.asp

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

# With no if statement:

In [ ]:
#find the square of each items in the list

In [ ]:
#Set the values in the new list to upper case:

In [ ]:
#Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.
#newlist = [expression for item in iterable if condition == True]

In [ ]:
#Only accept items that are not "apple":

In [ ]:
#Accept only numbers lower than 5:

# With if else condition

In [ ]:
#Return "orange" instead of "banana":

In [28]:
first = [2, 3, 4]
second = [20, 30, 40]
final = []
for i in first:
    for j in second:
        final.append(i+j)
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

In [29]:
first = [2, 3, 4]
second = [20, 30, 40]
final = [i+j for i in first for j in second]
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

In [30]:
final = [[x, y] for x in [10, 20, 30] for y in [30, 10, 50] if x != y]
print(final)

[[10, 30], [10, 50], [20, 30], [20, 10], [20, 50], [30, 10], [30, 50]]

In [31]:
matrix = [[j for j in range(3)] for i in range(3)]
   
print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]