# Filter:
The filter function is used to filter out elements from a sequence based on a certain condition. It takes two parameters: the first parameter is the condition and the second parameter is the sequence to be filtered.

In [11]:
#Filter all the fruits name having 'a' in the name

fruits=['apple','banana','cherry','strawberry','watermelon']
list(filter(lambda x: 'a' in x,fruits))

['apple', 'banana', 'strawberry', 'watermelon']

In [8]:
y=lambda x: print(f"a is present in {x}") if 'a' in x  else print(f"a is not present in {x}")
y("cherry")

a is not present in cherry

In [9]:
list(map(lambda x: print(f"a is present in {x}") if 'a' in x  else print(f"a is not present in {x}"),fruits))

a is present in apple
a is present in banana
a is not present in cherry
a is present in strawberry
a is present in watermelon

[None, None, None, None, None]

In [12]:
#filter all the even number from the list
num = list(map(int,input("Enter the numbers").split(",")))

list(filter(lambda x: x%2==0,num))

Enter the numbers2,3,4,8,11,17

[2, 4, 8]

# MAP + Filter

In [13]:
#Write the name in upper case having 'a' in its name

fruits=['apple','banana','cherry','strawberry','watermelon']

list(map(lambda x : x.upper(),list(filter(lambda x: 'a' in x,fruits))))

['APPLE', 'BANANA', 'STRAWBERRY', 'WATERMELON']

# Questions for homework

Given a list of names ['Alice', 'Bob', 'Charlie', 'David'], write a lambda function and 
use the map() function to convert each name to uppercase.

Given a list of strings ['apple', 'banana', 'cherry', 'date'], write a lambda function and use the filter() function to return only the strings that have more than 5 characters.

Given a list of numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], write a lambda function and use the filter() function to return only the numbers that are perfect squares.

Given a list of names ['Alice', 'Bob', 'Charlie', 'David'], write a lambda function and use the map() function to create a new list that contains the length of each name.

Given a list of numbers [1, 2, 3, 4, 5], use a lambda function and both map() and filter() functions to create a new list that contains the squares of even numbers.

In [16]:
#enumerate()
lst=["Apple","Banana","Cherry"]
for i,j in enumerate(lst,start=1):
    print(i,j)

1 Apple
2 Banana
3 Cherry

In [17]:
food= {'Fruit':['Apple','banana'],
      'Juice':['Lemon','Cherry'],
      'Snacks':['noodles','pasta']}

In [19]:
for i,j in enumerate(food):
    print(i,j,":",food[j])

0 Fruit : ['Apple', 'banana']
1 Juice : ['Lemon', 'Cherry']
2 Snacks : ['noodles', 'pasta']

In [26]:
#Aggregation functions : sum(), max(), min()
sum([1,2,3,4],start=2)

12

In [27]:
l=[3,10,7,6]
max(l)

10

In [28]:
min(l)

3

In [30]:
#round(),floor(),ceil()
round(23.65)

24

In [37]:
import math as m
a=23.65

m.floor(a)

23

In [38]:
m.ceil(a)

24

In [40]:
from math import floor,ceil 
floor

# Python Function Recursion
Python also accepts function recursion, which means a defined function can call itself.

In [41]:
# Recursive function for factorial

def fact(n):
    f=1
    for i in range(n,0,-1):
        f*=i
    return f

In [42]:
fact(5)

120

In [1]:
def fact_recursive(n):
    if n==1:
        return n
    else:
        return n*fact_recursive(n-1)

In [3]:
fact_recursive(4)

24

In [ ]:
#Recursive function for fibonacci

In [ ]:
0 1 1 2 3

1.Write the recursive function to find the sum of numbers in given list.
2.Write a recursive function that accepts a number as its argument and returns the sum of digits.

1.Write the recursive function to find the sum of numbers in given list.

In [63]:
def sum_lst(l):
    i=0
    if len(l)==1:
        return l[i]
    else:
        return l[i] + sum_lst(l[1:])

In [64]:
l

[3, 10, 7, 6]

In [65]:
print(sum_lst(l))

26