# Set
- contains only unique elements(Duplicates Not Allowed)
- Set items are unchangeable(Can't update), but you can remove items and add new items.
- unordered
- non-indexable
- Sets are written with curly brackets.
- can contain different data types

In [3]:
s = set()

In [4]:
type(s)

set

In [5]:
s= {3,5,7,8}

In [6]:
type(s)

set

In [7]:
s= {'num':[3,5,7,8]}

In [9]:
s['num']

[3, 5, 7, 8]

In [10]:
# non-indexable.

s= {3,5,7,8,True,0,3,5}

In [11]:
s

{0, True, 3, 5, 7, 8}

In [14]:
s= {'pooja','Niday','Meghna','Nancy','Anshika',45,True}

In [15]:
s

{45, 'Anshika', 'Meghna', 'Nancy', 'Niday', True, 'pooja'}

In [30]:
s2 = {2,3,(4,3,2),[0,3,4]}

TypeError: unhashable type: 'list'

In [43]:
s

{1, 3, 4, 5, 6, 7, 8, False, 'H', 'P', 'a', 'e', 'j', 'l', 'o'}

In [44]:
s[2]

TypeError: 'set' object is not subscriptable

# Remove Duplicate Numbers from a list

In [18]:
s = {1,True,1,3,5,4,5,3}

In [19]:
s

{1, 3, 4, 5}

Note: The values True and 1 & False and 0 are considered the same value in sets, and are treated as duplicates:

# Membership operator

In [20]:
5 in s

True

In [21]:
False in s

False

# To determine how many items a set has, use the len() function.

In [22]:
len(s)

4

# copy() method copies the set

In [23]:
s1 = s.copy()

In [24]:
s1

{1, 3, 4, 5}

# adding elements to set: add()

In [25]:
s1.add(False)

In [26]:
s1

{False, 1, 3, 4, 5}

In [27]:
s1.add({1,2,3})

TypeError: unhashable type: 'set'

In [39]:
s1.add('Meghna')

In [40]:
s1

{1, 3, 4, 5, False, 'Meghna'}

In [12]:
# same element is being added again.
# it will have no effect.

# use the update() method.
- update() method does not have to be a set, it can be any iterable object (str,set,tuples, lists, dictionaries etc.)

In [28]:
s.update([4,5,6,4])

In [29]:
s

{1, 3, 4, 5, 6}

In [31]:
s.update((4,7,8,True))

In [32]:
s

{1, 3, 4, 5, 6, 7, 8}

In [33]:
s.update(s1)

In [34]:
s

{False, 1, 3, 4, 5, 6, 7, 8}

In [35]:
s.update('Pooja',4,10)

TypeError: 'int' object is not iterable

In [37]:
s.update('Hello')

In [38]:
s

{1, 3, 4, 5, 6, 7, 8, False, 'H', 'P', 'a', 'e', 'j', 'l', 'o'}

In [41]:
s[1]=22

TypeError: 'set' object does not support item assignment

# Remove Item
- To remove an item in a set, use the remove(), or the discard() method.
- Note: If the item to remove does not exist, remove() will raise an error.
- If the item to remove does not exist, discard() will NOT raise an error.
- use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.The return value of the pop() method is the removed item

In [45]:
s

{1, 3, 4, 5, 6, 7, 8, False, 'H', 'P', 'a', 'e', 'j', 'l', 'o'}

In [46]:
s.remove(0)

In [47]:
s

{1, 3, 4, 5, 6, 7, 8, 'H', 'P', 'a', 'e', 'j', 'l', 'o'}

In [48]:
s.remove(11)

KeyError: 11

In [49]:
s.discard(11)

In [52]:
s.discard('P')

In [53]:
s

{1, 3, 4, 5, 6, 7, 8, 'H', 'a', 'e', 'j', 'l', 'o'}

In [54]:
s.pop()

1

In [55]:
s

{3, 4, 5, 6, 7, 8, 'H', 'a', 'e', 'j', 'l', 'o'}

# clear() method empties the set

In [56]:
s1

{1, 3, 4, 5, False, 'Meghna'}

In [57]:
s1.clear()

In [58]:
s1

set()

# del keyword will delete the set completely

In [59]:
del s1

In [60]:
s1

NameError: name 's1' is not defined

# Set Operations
- set union(|)
- set intersection(&)
- set difference(-)
- symmetric difference

Note:the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another

# Join Two Sets

In [61]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

In [62]:
set3 = set1.union(set2)

In [63]:
set3

{1, 2, 3, 'a', 'b', 'c'}

In [64]:
set1

{'a', 'b', 'c'}

In [65]:
set2

{1, 2, 3}

In [66]:
set4 = set3|set1

In [67]:
set4

{1, 2, 3, 'a', 'b', 'c'}

# intersection() method returns a set that contains the similarity between two or more sets

In [68]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [69]:
z = x.intersection(y)

In [70]:
z

{'apple'}

In [71]:
p= x & y

In [72]:
p

{'apple'}

# difference() method returns a set that contains the difference between two sets.

Meaning: The returned set contains items that exist only in the first set, and not in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [73]:
z = x.difference(y)

In [74]:
z

{'banana', 'cherry'}

In [75]:
z = y.difference(x)

In [76]:
z

{'google', 'microsoft'}

In [77]:
z = x-y

In [78]:
z

{'banana', 'cherry'}

# symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.

Meaning: The returned set contains a mix of items that are not present in both sets.

In [79]:
z = x.symmetric_difference(y)

In [80]:
z

{'banana', 'cherry', 'google', 'microsoft'}

<h3> difference_update()	Removes the items in this set that are also included in another, specified set<br>
intersection_update()	Removes the items in this set that are not present in other, specified set(s)<br>
symmetric_difference_update()	inserts the symmetric differences from this set and another<h3>

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [81]:
x.difference_update(y)

In [82]:
x

{'banana', 'cherry'}

In [83]:
y

{'apple', 'google', 'microsoft'}

In [92]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [85]:
x.symmetric_difference_update(y)

In [86]:
x

{'banana', 'cherry', 'google', 'microsoft'}

In [87]:
y

{'apple', 'google', 'microsoft'}

In [89]:
x.intersection_update(y)

In [90]:
x

{'apple'}

In [91]:
y

{'apple', 'google', 'microsoft'}

<h3>isdisjoint()	Returns whether two sets have a intersection or not<br>
issubset()	Returns whether another set contains this set or not<br>
issuperset()	Returns whether this set contains another set or not</h3>

In [100]:
#The isdisjoint() method returns True if two sets don't have any common items between them, i.e. they are disjoint. Else the returns False
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

In [95]:
z=x.isdisjoint(y)

In [98]:
y.isdisjoint(x)

True

In [107]:
A = {1, 2, 3}
B = {4, 5, 6}
C = {6, 7, 8}

In [108]:
print('A and B are disjoint:', A.isdisjoint(B))

A and B are disjoint: True

In [109]:
print('B and C are disjoint:', B.isdisjoint(C))

B and C are disjoint: False

In [ ]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

In [97]:
x.issubset(y)

False

In [110]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}

In [111]:
# all items of A are present in B
print(A.issubset(B))

True

In [103]:
P = {1, 2, 3, 4, 5}

Q = {1, 2, 3}

R = {1, 2, 3}

In [104]:
# Returns True

print(P.issuperset(Q))

True

In [105]:

# Returns False

print(Q.issuperset(P))

False

In [106]:
# Returns True

print(R.issuperset(Q))

True