# Strings
- Strings in python are the sequence of characters.

- We can use single quotes or double quotes to represent strings.

- Multi-line strings can be denoted using triple quotes, ''' or """.

- A string in Python consists of a series or sequence of characters - letters, numbers, and special characters.

- Strings can be indexed starting with 0 which is first character.

In [1]:
_name ="Pooja"
type(_name)

str

In [2]:
_str = 'My name is pooja'
type(_str)

str

In [4]:
_para = '''My name is pooja.
I live in Vaishali.
I am python trainer'''

type(_para)

str

# Indexing a String

accessing one character based on the position.

In [5]:
_str = 'My name is pooja'
_str

'My name is pooja'

In [6]:
_str[5]

'm'

In [7]:
_str[0]

'M'

In [ ]:
# accessing the last character of string

In [8]:
_str[-1]

'a'

In [10]:
_str[15]

'a'

In [12]:
_str[len(_str)-1]

'a'

# Negative Indexing

#

In [ ]:
# accessing the last character of string

In [13]:
_str[-1]

'a'

In [14]:
_str[-5]

'p'

# String Slicing
extracting multiple characters from a string (sub string)
Syntax : str[start_idx : end_idx +1]

In [15]:
_str

'My name is pooja'

In [16]:
_str[3:7]

'name'

In [18]:
_str[-5:]

'pooja'

In [20]:
_str[11:]

'pooja'

In [21]:
_str[3:]

'name is pooja'

In [22]:
_str[:7]

'My name'

In [23]:
_str[:]

'My name is pooja'

In [ ]:
Syntax : str[start_idx : end_idx +1 : step_size]

In [34]:
# start with index 2, ends at index 14, take jump of 2
_str[2:15:3]

' mipj'

In [27]:
_str[-1:-5:-1]

'ajoo'

In [30]:
_str[-5:-1]

'pooj'

In [ ]:
# quick hack reverse a string

In [32]:
_str[-1::-1]

'ajoop si eman yM'

In [45]:
_str= input("Enter the string : ")

Enter the string : Hello world

In [46]:
_str

'Hello world'

# Important Methods related to strings

len()
lower()
upper()
find()
split()
count()
replace()
lstrip()
rstrip()
strip()

In [47]:
_str

'Hello world'

In [48]:
print("Length of string is : ",len(_str))

Length of string is :  11

In [68]:
_str1= input("Enter the string : ")

Enter the string : Hello,world

In [50]:
len(_str1)

14

In [57]:
len(56)

TypeError: object of type 'int' has no len()

In [51]:
_str1

'Welcome to TGC'

In [52]:
_str.lower()

'hello world'

In [53]:
_str1.lower()

'welcome to tgc'

In [58]:
_str.upper()

'HELLO WORLD'

In [59]:
_str1.upper()

'WELCOME TO TGC'

In [60]:
_str1.capitalize()

'Welcome to tgc'

In [81]:
_para = '''my name is pooja.
i live is Vaishali.
i am python trainer'''

In [62]:
_para.capitalize()

'My name is pooja.\ni live in vaishali.\ni am python trainer'

In [63]:
_para.find('live')

20

In [65]:
_para[20:24]

'live'

In [66]:
_str1.split(" ")

['Welcome', 'to', 'TGC']

In [67]:
_para.split("\n")

['my name is pooja.', 'i live in Vaishali.', 'i am python trainer']

In [70]:
_str1

'Hello,world'

In [71]:
_str1.split(",")

['Hello', 'world']

In [72]:
_str1.count('l')

3

In [74]:
_para.count('is')

3

In [77]:
_para.replace('is V','in V')

'my name is pooja.\ni live in Vaishali.\ni am python trainer'

In [82]:
_para.replace('i ',"I ")

'my name is pooja.\nI live is Vaishali.\nI am python trainer'

In [83]:
_str3 =input("Enter the string")

Enter the string     hello world

In [84]:
_str3

'     hello world    '

In [85]:
_str3.lstrip()

'hello world    '

In [86]:
_str3.rstrip()

'     hello world'

In [87]:
_str3.strip()

'hello world'

# Few Operations on Strings

In [ ]:
# concatenation 2 of strings :+

In [88]:
n=int(input("Enter the number= "))
_str = input("Enter the string")

Enter the number= 45
Enter the stringhello

In [91]:
str(n)+" "+_str

'45 hello'

In [92]:
n+int(_str)

ValueError: invalid literal for int() with base 10: 'hello'

In [93]:
First_name = input("Enter the first name : ")
Last_name = input("Enter the last name : ")

Full_name = First_name + " " + Last_name
print("Full name of the student is ", Full_name)

Enter the first name : Pooja
Enter the last name : Singh
Full name of the student is  Pooja Singh

In [ ]:
# cannot concatenate other data type

In [94]:
n + _str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [95]:
# Multiplication of string with int n results into repetition string n times. *

In [97]:
3*_str

'hellohellohello '