# Tuples
    - similar to lists ( but read-only )
    - ordered,  collections of items
    - indexable/slicing
    - immutable
    - allow duplicate values
    - Tuples are written with round brackets.
    - allow Heterogenous elements

In [1]:
# creating empty tuple

In [1]:
t = tuple()

In [2]:
type(t)

tuple

In [3]:
t = ()

In [4]:
type(t)

tuple

In [5]:
t = (2,4,6,7)

In [6]:
type(t)

tuple

# Create Tuple With One Item

In [11]:
t = (True)

In [12]:
type(t)

bool

In [14]:
t = (4)

In [15]:
type(t)

int

In [3]:
# for one element : comma is mandatory

In [16]:
t = (4,)

In [17]:
type(t)

tuple

# A tuple can contain different data types:

In [18]:
tup = (2,6,"Hello",[2,3,4],False,(2,8))

In [19]:
tup

(2, 6, 'Hello', [2, 3, 4], False, (2, 8))

# Access elements in tuples

In [20]:
tup[3]

[2, 3, 4]

In [21]:
tup[-1]

(2, 8)

In [22]:
tup[2:5]

('Hello', [2, 3, 4], False)

In [23]:
tup[::-1]

((2, 8), False, [2, 3, 4], 'Hello', 6, 2)

# Changing a Tuple

In [4]:
# typeError . This is not possible? bcoz of immutability

In [24]:
tup[0]=10

TypeError: 'tuple' object does not support item assignment

In [25]:
tup = list(tup)

In [26]:
type(tup)

list

In [27]:
tup[0] = 10

In [28]:
tup

[10, 6, 'Hello', [2, 3, 4], False, (2, 8)]

In [30]:
tup = tuple(tup)

In [31]:
type(tup)

tuple

In [32]:
tup

(10, 6, 'Hello', [2, 3, 4], False, (2, 8))

# Solution:can convert the tuple into a list, change the list, and convert the list back into a tuple.

# Join Two Tuples (Concatination)

In [33]:
tup1 = (5,6,7)
tup2 = (True,False)

In [35]:
tup3 = tup1 +tup2

In [36]:
tup3

(5, 6, 7, True, False)

# Unpacking a Tuple

In [37]:
a,b,c = tup1

In [38]:
a,b,c

(5, 6, 7)

In [40]:
a = tup1[0]

In [41]:
a

5

In [42]:
tup1[0] =a

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup3

# Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [43]:
a,b,c,*d=tup3

In [44]:
tup3

(5, 6, 7, True, False)

In [48]:
d

[True, False]

In [46]:
a

5

In [49]:
*a,b,c = tup3

In [50]:
a

[5, 6, 7]

In [51]:
b

True

In [52]:
c

False

# Tuple Deletion
-- we cannot change/delete an elements in a tuple. 
-- But we can delete entire tuple using del keyword

In [53]:
del tup2

In [54]:
tup2

NameError: name 'tup2' is not defined

# Tuple Methods
Python has two built-in methods that you can use on tuples.


-- count()	Returns the number of times a specified value occurs in a tuple
-- index()	Searches the tuple for a specified value and returns the position of where it was found

In [55]:
_tup4 = (2,4,2,5,4,'Hello')

In [56]:
_tup4.index('Hello')

5

In [57]:
_tup4.count(4)

2

# Tuple Membership: in /not in

In [58]:
'Hello' in _tup4

True

In [59]:
'10' not in _tup4

True

In [60]:
lst = [2,6,7,(7,8,9)]

In [61]:
lst[3]= 55

In [62]:
lst

[2, 6, 7, 55]

In [70]:
lst = [2,6,7,(7,8,9)]

In [71]:
l1=lst[3]

In [73]:
l1=list(l1)

In [74]:
l1[1]=5

In [75]:
l1

[7, 5, 9]

In [76]:
l1=tuple(l1)

In [77]:
lst[3]=l1

In [78]:
lst

[2, 6, 7, (7, 5, 9)]